<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Starter template for Hyde</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/media/css/style.css" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    </head>
    <body>
        <header>
            <h1>My title</h1>
            <nav>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            </nav>
        </header>
        <div id="content">
            {% filter markdown -%}
            {% block content %}{% endblock %}
            {%- endfilter %}
        </div>
        <footer>
            <p>Links, copyright, date ...</p>
        </footer>
    </body>
</html>
